# Секреты
.env

# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Alembic (версии миграций — коммитить нужно, а вот локальный кэш нет)
# (папку alembic/versions оставляем в git — она обязательна для лабы)

# Docker
docker-compose.override.yml

# Логи
*.log

# ОС
.DS_Store
Thumbs.db
